body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: black;
    color: white;
}

#question-container div {
    margin-bottom: 20px;
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
}

.question-container {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

div.questions {
    margin-left: auto;
    margin-right: auto;
}
